numpy>=1.26.4,<2.0
opencv-python>=4.8.0,<4.11
opencv-contrib-python>=4.8.0,<4.11
ultralytics>=8.3.0
pyyaml>=6.0
tqdm>=4.66.0
matplotlib>=3.7.0
pillow>=10.0.0
anylabeling
PyQt5
python-can>=4.3.0
pyserial>=3.5
tensorboardX>=2.6
seaborn>=0.13.0
yacs>=0.1.8
